<div style='background-color : orange'>
<a id='TableOfContents'></a>
    <b><u><i><h1 style='text-align : center'>
        Table of Contents
    </h1></i></u></b>
<li><a href='#imports'>Imports</a></li>
<li><a href='#q1'>Question 1</a></li>
<li><a href='#q2'>Question 2</a></li>
<li><a href='#q3'>Question 3</a></li>
<li><a href='#q4'>Question 4</a></li>
<li><a href='#misc'>Miscellaneous</a></li>

<div style='background-color : orange'>
<a id='imports'></a>
    <b><u><i><h1 style='text-align : center'>
        Imports
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [6]:
# Vectorization and dataframing
import numpy as np
import pandas as pd

# Visualizations
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# spark
import pyspark
from pyspark.sql import functions as F

# Play data
from pydataset import data

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Set default plt style to 'bmh'
mpl.style.use('bmh')

In [7]:
# Initialize a session
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/21 13:26:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

<div style='background-color : orange'>
<a id='q1'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 1
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 1.</b> Create a spark data frame that contains your favorite programming languages.
- The name of the column should be <mark>language</mark>
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

In [11]:
# Create pandas dataframe of coding languages
languages = {
    'stuff' : ['python', 
                  'html', 
                  'java', 
                  'c++', 
                  'php', 
                  'sql', 
                  'other', 
                  'meh']
}
lang_df = pd.DataFrame(languages)
lang_df

    stuff
0  python
1    html
2    java
3     c++
4     php
5     sql
6   other
7     meh

In [15]:
# Create spark session of above pandas dataframe
lang = spark.createDataFrame(lang_df)
lang.show()

+------+
| stuff|
+------+
|python|
|  html|
|  java|
|   c++|
|   php|
|   sql|
| other|
|   meh|
+------+

In [16]:
# Rename 'stuff' column to 'language'
lang = lang.withColumnRenamed('stuff', 'language')
lang.show()

+--------+
|language|
+--------+
|  python|
|    html|
|    java|
|     c++|
|     php|
|     sql|
|   other|
|     meh|
+--------+

---

In [17]:
# Get the schema
lang.printSchema()

root
 |-- language: string (nullable = true)

---

In [22]:
# Get shape of spark dataframe
lang.count(), len(lang.columns)

(8, 1)

---

In [23]:
# Get first 5 records
lang.show(5)

+--------+
|language|
+--------+
|  python|
|    html|
|    java|
|     c++|
|     php|
+--------+
only showing top 5 rows

<div style='background-color : orange'>
<a id='q2'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 2
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#q2a'>Question 2a</a></li>
<li><a href='#q2b'>Question 2b</a></li>

<b>Question 2.</b> Load the <mark>mpg</mark> dataset as a spark dataframe.

---

<a id='q2a'></a>
<b>Question 2a.</b> Create 1 column of output that contains a message like the one below:
- <mark>The 1999 audi a4 has a 4 cylinder engine.</mark>

For each vehicle.

<li><a href='#q2'>Question 2 Top</a></li>

---

<a id='q2b'></a>
<b>Question 2b.</b> Transform the <mark>trans</mark> column so that it only contains either <mark>manual</mark> or <mark>auto</mark>.

<li><a href='#q2'>Question 2 Top</a></li>

<div style='background-color : orange'>
<a id='q3'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 3
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#q3a'>Question 3a</a></li>
<li><a href='#q3b'>Question 3b</a></li>
<li><a href='#q3c'>Question 3c</a></li>

<b>Question 3.</b> Load the <mark>tips</mark> dataset as a spark dataframe.

---

<a id='q3a'></a>
<b>Question 3a.</b> What percentage of observations are smokers?

<li><a href='#q3'>Question 3 Top</a></li>

---

<a id='q3b'></a>
<b>Question 3b.</b> Create a column that contains the tip percentage

<li><a href='#q3'>Question 3 Top</a></li>

---

<a id='q3c'></a>
<b>Question 3c.</b> Calculate the average tip percentage for each combination of sex and smoker.

<li><a href='#q3'>Question 3 Top</a></li>

<div style='background-color : orange'>
<a id='q4'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 4
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#q4a'>Question 4a</a></li>
<li><a href='#q4b'>Question 4b</a></li>
<li><a href='#q4c'>Question 4c</a></li>
<li><a href='#q4d'>Question 4d</a></li>
<li><a href='#q4e'>Question 4e</a></li>
<li><a href='#q4f'>Question 4f</a></li>
<li><a href='#q4g'>Question 4g</a></li>

<b>Question 4.</b> Use the seattle weather dataset referenced in the lesson to answer the questions below.

---

<a id='q4a'></a>
<b>Question 4a.</b> Convert the temperatures to fahrenheit.

<li><a href='#q4'>Question 4 Top</a></li>

---

<a id='q4b'></a>
<b>Question 4b.</b> Which month has the most rain, on average?

<li><a href='#q4'>Question 4 Top</a></li>

---

<a id='q4c'></a>
<b>Question 4c.</b> Which year was the windiest?

<li><a href='#q4'>Question 4 Top</a></li>

---

<a id='q4d'></a>
<b>Question 4d.</b> What is the most frequent type of weather in January?

<li><a href='#q4'>Question 4 Top</a></li>

---

<a id='q4e'></a>
<b>Question 4e.</b> What is the average high and low temperature on sunny days in July in 2013 and 2014?

<li><a href='#q4'>Question 4 Top</a></li>

---

<a id='q4f'></a>
<b>Question 4f.</b> What percentage of days were rainy in q3 of 2015?

<li><a href='#q4'>Question 4 Top</a></li>

---

<a id='q4g'></a>
<b>Question 4g.</b> For each year, find what percentage of days it rained (had non-zero precipitation).

<li><a href='#q4'>Question 4 Top</a></li>

<div style='background-color : orange'>
<a id='misc'></a>
    <b><u><i><h1 style='text-align : center'>
        Miscellaneous
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>